/*
#1 = #5c5cff
#2 = #adadff
*/
a {
	color: #5c5cff;
}
a:hover {
	color: #adadff;
}

/* menu */
.nav>li>a:hover {
	color: #adadff;
}

.navbar .navbar-nav > .active > a {
	color:#5c5cff ;
}

/* flexslider */
.flex-control-paging li a {
	background: #5c5cff;
}

.flex-direction-nav a:hover{
	background-color:#5c5cff;
}

.testimonial span.author a {
	color: #adadff;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #5c5cff;
	box-shadow: 0 0 0 4px #35A49C;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #5c5cff;
	box-shadow: 0 0 0 8px  #adadff;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #5c5cff;
}

/* btn */
.btn-theme {
  background: #adadff;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #5c5cff;
}
.btn-cta,.btn-cta.btn-lg {
  background: #5c5cff;
  border-color: #adadff;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #5c5cff;
}

/* contact */
.validation {
	color:#5c5cff;
}

/* footer */
.social-circle li a {
	background:#5c5cff;
}

a.scrollup{
	background:#5c5cff;
}
